body
{
    font-family: 'Lobster', cursive;
    font-size: 15px;
    line-height: 1.6;
    color: whitesmoke;  
    
    width: 100%;
    height: 100vh;
    background: url("../Assets/images/home/7.jpg") 
    center 
    no-repeat;
    -webkit-background-size: contain;
    background-size: cover; 
   
}



h1,h2,h3
{
    text-align: center;
}

.container
{
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
}

.container1
{
   height: 100%;
    display: flex;
    flex-direction:column ;
    justify-content: center;
    
}

.header
{
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
}

.table1
{ 
  
    margin: auto;
}

.table2
{ 
  
    margin: auto;
}
.logo
{
    width: 100px; 
    margin: 0 auto;
}

.nav
{
    font-size: 14 px;
    text-transform:uppercase;
    margin-right: 150px;
}

.nav_link
{
    color: whitesmoke;
    text-decoration: none;
    display: inline-block;
    vertical-align: top;
    margin: 0 30px;
    
}


.nav_link2
{
    color: whitesmoke;
    text-decoration: none;
    display: inline-block;
    vertical-align: top;
    margin: 0 50px;
}
.nav_link3
{
    color: whitesmoke;
    text-decoration: none;
    display: inline-block;
    vertical-align: top;
    margin: 0 5px;
    position: absolute;  
    
}
.nav_link:hover
{
    color: #FF4500;
    transition: color 0.2s linear;
}

.nav_link2:hover
{
    color: #FF4500;
    transition: color 0.2s linear;
}
.nav_link3:hover
{
    color: #FF4500;
    transition: color 0.2s linear;
    
}

.inner 
{
    width: 100%;
    max-width: 880px;
    margin: 0 auto;
}

.home
{
    font-size: 50px;
    text-transform: uppercase;
    text-align: center;
}

.home1
{
    font-size: 30px;

}


.aboutme
{
    font-size: 30px;
    margin-left: 150px;
}

.photo1
{
    width: 300px;
   
}

.achivki
{
    width: 375px;
    height: 125x;
}

.rovno
{
    margin-right: 1px;
}
.rovno3
{
    margin-top: 150px;
    
}

.gimp1
{
    margin-top: 350px;
    margin-bottom: 325px;
    width: 400px;
    
    
}

.inkscape
{
    background-color: whitesmoke;
    width: 650px;
    height: 550px;
}

.pp
{
    width: 350px;
}
.pp2
{
    width: 550px;
}
.word
{
    width: 550px;
}

.gdim
{
    display: none;
    padding: 12px 16px; 
    list-style-type: none;
    min-width: 100px;
    margin-top: 20px;
    color: whitesmoke;

}
.pr
{
    display: none;
    padding: 12px 16px; 
    list-style-type: none;
    min-width: 100px;
    color: whitesmoke;     
    
}

.nav_link3:hover .gdim {display: block;}
.nav_link3:hover .pr {display:block; }

.gdim1
{
    display: none;    
    list-style-type: none;
    min-width: 50px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index:1;
    color: whitesmoke;
    text-decoration: none;
    
}
.pr1
{
    display: none;    
    list-style-type: none;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index:1;
    color: whitesmoke;
    text-decoration: none;
}
.gdim:hover .gdim1 {display:block} 
.pr:hover .pr1 {display:block}

.gdim1:hover {color: #FF4500;}
.pr1:hover {color: #FF4500;}


li
{
    color: whitesmoke;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}





